<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="de"  lang="de"  dir="ltr" >
<head>
        <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
    {% if article and article.author %}
    <meta name="author" content="{{ article.author }}" />
    <meta name="copyright" content="{{ article.author }}" />
    <meta name="description" content="{{ article.summary }}"/>
    {% elif page and page.author %}
    <meta name="author" content="{{ page.author }}" />
    <meta name="copyright" content="{{ page.author }}" />
    <meta name="description" content="{{ page.summary }}"/>
    {% else %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="copyright" content="{{ AUTHOR }}" />
    {% endif %}
    <link type="image/x-icon" href="{{ SITEURL }}/theme/style/favicon.ico" rel="shortcut icon" />
    <style type="text/css" title="currentStyle" media="screen">
	@import "{{ SITEURL }}/theme/style/default.css";
    </style>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/style/print.css" media="print" />
    <script src="{{ SITEURL }}/theme/js/prototype.js" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/js/effects.js" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/js/scriptaculous.js" type="text/javascript"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="style/ie_screen.css">
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>


<div id="bigbox">
<!--[if gte IE 5]><img style="width:0px; height: 0px;" src="clear.gif" /><![endif]-->
{% block content %}
{% endblock content %}

<p id="footer">
<a href="{{ SITEURL }}/impressum.html">Impressum</a> | <a href="projekt.html">&Uuml;ber dieses Projekt</a>
</p>

<ul id="nav">
<li id="home"><a href="{{ SITEURL }}/index.html">Startseite</a>
</li>
<li class="klasse"><a href="{{ SITEURL }}/klasse8.htm">8. Klasse</a>
<ul>
<li><a href="{{ SITEURL }}/gemische_und_reinstoffe.htm">Gemische und Reinstoffe</a></li>
<li><a href="{{ SITEURL }}/chemische_reaktion.htm">Die chemische Reaktion</a></li>
<li><a href="{{ SITEURL }}/teilchenstrucktur_der_materie.htm">Teilchenstruktur der Materie</a></li>
<li><a href="{{ SITEURL }}/chemische_grundgesetze.htm">Chemische Grundgesetze</a></li>
<li><a href="{{ SITEURL }}/chemisches_rechnen.htm">Chemisches Rechnen</a></li>
<li><a href="{{ SITEURL }}/gruppierung_chemischer_reaktionen.htm">Gruppierung von Reaktionen</a></li>
<li><a href="{{ SITEURL }}/bau_der_atome.htm">Bau der Atome</a></li>
<li><a href="{{ SITEURL }}/salze.htm">Salze</a></li>
<li><a href="{{ SITEURL }}/metalle.htm">Metalle</a></li>
</ul>
</li>
<li class="klasse"><a href="{{ SITEURL }}/klasse9.htm">9. Klasse</a>
<ul>
<li><a href="{{ SITEURL }}/salze.htm">Salze</a></li>
<li><a href="{{ SITEURL }}/elementgruppen.htm">Elementgruppen des PSE</a></li>
<li><a href="{{ SITEURL }}/molekulare_stoffe.htm">Molekulare Stoffe</a></li>
<li><a href="{{ SITEURL }}/protonenuebergaenge.htm">Protonen&uuml;berg&auml;nge</a></li>
<li><a href="{{ SITEURL }}/elektronenuebergaenge.htm">Elektronen&uuml;berg&auml;nge</a></li>
</ul>
</li>
<li class="klasse"><a href="{{ SITEURL }}/klasse10.htm">10. Klasse</a>
<ul>
<li><a href="{{ SITEURL }}/atombau_der_nebengruppen.htm">Atombau der Nebengruppen</a></li>
<li><a href="{{ SITEURL }}/komplexverbindungen.htm">Komplexverbindungen</a></li>
<li><a href="{{ SITEURL }}/protolysegleichgewichte.htm">Protolysegleichgewichte</a></li>
<li><a href="{{ SITEURL }}/elektrochemie.htm">Elektrochemie</a></li>
</ul>
</li>
<li class="klasse"><a href="{{ SITEURL }}/klasse11.htm">11. Klasse</a>
<ul>
<li><a href="{{ SITEURL }}/reaktionsgeschwindigkeit_start.htm">Reaktionsgeschwindigkeit</a></li>
</ul>
</li>
<li id="link"><a href="{{ SITEURL }}/links.html">Links</a>
</li>
<li id="impressum"><a href="{{ SITEURL }}/impressum.html">Impressum</a>
</li>
</ul>
</div>
</body>
</html>
