<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="de"  lang="de"  dir="ltr" >
<head>
        <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
    <meta name="description" content="{#description#}"/>
    <link type="image/x-icon" href="{{ SITEURL }}/theme/style/favicon.ico" rel="shortcut icon" />
    <link rel="alternate" type="application/rss+xml" title="Chemie lernen - der Feed" href="http://www.martin-thoma.de/chemie/rss.php" />
    <style type="text/css" title="currentStyle" media="screen">
	@import "{{ SITEURL }}/theme/style/default.css";
    </style>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/style/print.css" media="print" />
    <script src="{{ SITEURL }}/theme/js/prototype.js" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/js/effects.js" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/js/scriptaculous.js" type="text/javascript"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="style/ie_screen.css">
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>


<div id="bigbox">
<!--[if gte IE 5]><img style="width:0px; height: 0px;" src="clear.gif" /><![endif]-->
<div id="content">
{% block content %}
{% endblock content %}
</div>

<p id="footer">
<a href="impressum.htm">Impressum</a> | <a href="projekt.htm">&Uuml;ber dieses Projekt</a>
</p>

{#navigation#}
</div>
</body>
</html>
