{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}
<h1>Chemie lernen</h1>
<p>Obwohl ich Wert auf korrekte Inhalte lege kann ich nicht für diese garantieren, deshalb sind alle Angaben ohne Gewähr.<br/>
Wenn Sie Fehler finden, so bitte ich Sie mir diese zu <a href="kontakt.htm">melden</a>.<br/>
</p>
<h2>News</h2>
<p>Es gibt seit kurzem eine <a href="suche.php">Websitesuche</a>. Damit solltet ihr schneller an die gewünschten Inhalte kommen.</p>
<p>Bitte gebt mir eine Email an, auf die ich antworten kann wenn ihr mir schreibt!</p>
<p>Ein <a href="ajax.php">interaktives Lernprogramm</a> für Moleküle und Ionen ist nun online. Wenn weitere Verbindungen abgefragt werden sollen bitte ich Sie mich zu <a href="kontakt.htm">kontaktieren</a></p>
<h2>Tipp</h2>
<p>Nutzt den Firefox 3 um die Website anzusehen. Diesen Browser kann man <a href="http://www.mozilla-europe.org/de/firefox/">auf dieser Seite downloaden</a>.</p>
{% endblock content %}
