{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}
<section id="content" class="body">
<h1>Links</h1>
<dl><dt>Haftungsausschluss</dt><dd>Unsere Seiten enthalten Links auf externe Webseiten Dritter. Auf die Inhalte dieser verlinkten Webseiten haben wir keinen Einfluss. Für die Richtigkeit der Inhalte ist immer der jeweilige Anbieter oder Betreiber verantwortlich, weshalb wir diesbezüglich keinerlei Gewähr übernehmen.<br/>
<br/>
Die fremden Webseiten haben wir zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Zum Zeitpunkt der Verlinkung waren keinerlei Rechtsverletzungen erkennbar. Eine ständige Überprüfung sämtlicher Inhalte der von uns verlinkten Seiten ohne tatsächliche Anhaltspunkte für einen Rechtsverstoß können wir nicht leisten. Falls uns Rechtsverletzungen bekannt werden, werden wir die entsprechenden Links sofort entfernen.</dd></dl><a href="http://de.wikiversity.org/wiki/Chemie">Wikiversity</a><br/>
<a href="http://de.wikibooks.org/wiki/Chemie">Wikibooks</a><br/>
<a href="http://scholar.google.de/scholar?hl=de&lr=&safe=off&q=chemie&btnG=Suche">scholar.google.de</a><br/>
<a href="http://www.kraus-harald.de/Chemie/chemie.html">Schulwissen</a>

<ul>
    <li><a href="http://www.kraus-harald.de/Chemie/9.%20Klasse/Gleichungen/Gleichungen.html">Gleichungen</a></li>
    <li><a href="http://www.chemie.fu-berlin.de/cgi-bin/molform">Tool zum berechnen der molekularen Masse</a></li>
    <li><a href="http://www.kraus-harald.de/Chemie/10._Klasse/Formeln/Summenformel/summenformel.html">Summenformeln aufstellen</a></li>
    <li><a href="http://www.kraus-harald.de/Chemie/10._Klasse/Formeln/Strukturformel/strukturformel.html">Strukturformel</a></li>
    <li><a href="http://www.kraus-harald.de/Chemie/10._Klasse/Redox/redox.html">Redox</a></li>
    <li><a href="http://www.kraus-harald.de/Chemie/10._Klasse/Schulaufgabe/schulaufgabe.html">Schulaufgabe</a></li>
    <li><a href="http://www.kraus-harald.de/Chemie/Leistungskurs/leistungskurs.html">Leistungskurs</a></li>
    <li><a href="http://www.kraus-harald.de/Chemie/9.%20Klasse/Stochiometrie/Stoechiometrie.html">Stöchiometrie</a></li>
</ul>

<a href="http://www.seilnacht.com/Chemie.htm">Das virtuelle Chemielabor</a> (Gewinner des Jugendsoftwarepreises 2001)

<ul>
    <li><a href="http://www.seilnacht.com/Minerale/index.htm">Minerale</a></li>
    <li><a href="http://www.seilnacht.com/farbe.htm">Farben</a></li>
    <li><a href="http://www.seilnacht.com/Analyse/Analyse.htm">Analyse</a></li>
    <li><a href="http://www.seilnacht.com/referate/elektro1.htm">Technisch wichtige Elektrolysen</a></li>
    <li><a href="http://www.seilnacht.com/referate/antazida.htm">Antazida</a></li>
    <li><a href="http://www.seilnacht.com/referate/ernaehr.htm">Ernährung</a></li>
    <li><a href="http://www.seilnacht.com/referate/biogas01.htm">Biogas</a></li>
    <li><a href="http://www.seilnacht.com/referate/klaeren.html">Kläranlage</a></li>
    <li><a href="http://www.seilnacht.com/referate/haare.html">Haare</a></li>
</ul>

<a href="http://www.chemielehrer.ch/">chemielehrer.ch</a> (Tests)<br/>


<ul>
    <li><a href="http://www.chemielehrer.ch/neu.htm">Multiple-Choice-Test</a></li>
    <li><a href="http://www.chemielehrer.ch/downloads.htm">Downloads</a></li>
</ul>

<a href="http://www.organische-chemie.ch/">Organische Chemie.ch</a><br/>
<a href="http://chimge.unil.ch/De/pagesprincipales/exercices/exercices.html">Chemieübungen</a><br/>
<a href="http://www.chemieunterricht.de/">Chemie Bildungsserver</a><br/>
<a href="http://de.wikipedia.org/wiki/Portal:Chemie/%C3%9Cbersicht_Exzellente_Artikel">Exzellente Artikel</a><br/>
<a href="http://gb-server-1.mit.edu/search?site=videos&q=chemistry&btnG=Search&client=mit&proxystylesheet=mit&output=xml_no_dtd">Videos des MIT</a><br/>
<a href="http://www.google.com/Top/World/Deutsch/Wissenschaft/Naturwissenschaften/Chemie/Schule/">DMOZ</a><br/>
<a href="http://wiki.zum.de/Chemie">zum.de</a><br/>
</section>
{% endblock content %}
